<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<!--  FontAwesome  -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<!-- AJAX -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link rel="stylesheet" th:href="@{/navbar.css}">

<title>Incidente</title>
</head>
<body>

	<!-- NAVBAR -->

	<nav class="navbar navbar-expand-custom navbar-mainbg">
		<a class="navbar-brand navbar-logo" th:href="@{/administrador/menu}">Inicio</a>
		<button class="navbar-toggler" type="button"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<i class="fas fa-bars text-white"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<div class="hori-selector">
					<div class="left"></div>
					<div class="right"></div>
				</div>
				<li class="nav-item"><a class="nav-link" th:href="@{edificio}"><i
						class="fas fa-building"></i>Edificio</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{departamento}"><i class="fas fa-house"></i>Departamento</a>
				</li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{propietario}"><i class="fa-solid fa-person"></i>Propietario</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{mascota}"><i
						class="fas fa-paw"></i>Mascota</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{ocupante}"><i
						class="fa-solid fa-people-roof"></i>Ocupante</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{visitante}"><i
						class="fa-solid fa-car-side"></i>Visitante</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{visita}"><i
						class="fa-solid fa-calendar-days"></i>Visita</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{boleta}"><i class="fa-solid fa-sack-dollar"></i>Boleta</a>
				</li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{incidente}"><i class="fa-solid fa-fire"></i>Incidente</a>
				</li>
				<li class="nav-item exit"><a class="nav-link"
					href="javascript:void(0);" type="submit" th:href="@{/logout}">
						<i class="fa-solid fa-right-from-bracket"></i>Cerrar Sesión
				</a></li>
			</ul>
		</div>


	</nav>

	<!-- NAVBAR END -->

	<!-- Contendio -->

	<!-- REGISTRO INCIDENTE -->
	<div class="container" style="max-width: 1750px">
		<form th:action="@{/administrador/registrarIncidente}" method="post"
			class="border mt-3 p-3">
			<h2 class="text-center pb-2 border-bottom">Registro de Incidente</h2>

			<div class="form-group row">
				<label for="staticText" class="col-sm-2 col-form-label">Departamento</label>
				<div class="col-sm-4">
					<select class="custom-select mr-sm-2" id="inlineFormCustomSelect"
						name="id_departamento" required>
						<option value="">[Seleccione Departamento]</option>
						<option th:each="propietario : ${propietarios}"
							th:text="${propietario.departamento.direccion + ' => [ Propietario : ' + propietario.nombres + ' ]'}"
							th:value="${propietario.idPropietario}"></option>
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="staticText" class="col-sm-2 col-form-label">Causas
					de incidente</label>
				<div class="col-sm-4">
					<select class="custom-select mr-sm-2" id="id_propietario"
						name="id_tipoIncidente" required>
						<option value="">[Seleccione Causa de incidente]</option>
						<option th:each="tipoincidente : ${tipoincidentes}"
							th:text="${tipoincidente.descripcion}"
							th:value="${tipoincidente.idTipoIncidente}"></option>
					</select>
				</div>
			</div>


			<div class="form-group">
				<label for="exampleFormControlTextarea1">Comentario</label>
				<div class="col-sm-4">
					<textarea class="form-control" id="inputComentario"
						name="comentario" rows="3" required></textarea>
				</div>

			</div>

			<div class="col-sm-2">
				<button class="btn btn-primary form-control" type="submit">Generar</button>
			</div>

		</form>

		<!-- ATENCION INCIDENTE  -->
		<form class="border mt-3 p-3">
			<h2 class="text-center border-bottom">Atención del Incidente</h2>
			<div class="form-group row">
				<label for="staticText" class="col-sm-2 col-form-label">Departamento</label>
				<div class="col-sm-4">
					<select class="custom-select mr-sm-2" id="depa-filtro"
						name="id_departamento" required>
						<option value="-1">[Seleccione Departamento]</option>
						<option th:each="propietario : ${propietarios}"
							th:text="${propietario.departamento.direccion + ' => [ Propietario : ' + propietario.nombres + ' ]'}"
							th:value="${propietario.idPropietario}"></option>
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="staticText" class="col-sm-2 col-form-label">Causas
					de incidente</label>
				<div class="col-sm-4">
					<select class="custom-select mr-sm-2" id="tipo-filtro"
						name="id_tipoIncidente" required>
						<option value="-1">[Seleccione Causa de incidente]</option>
						<option th:each="tipoincidente : ${tipoincidentes}"
							th:text="${tipoincidente.descripcion}"
							th:value="${tipoincidente.idTipoIncidente}"></option>
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="staticText" class="col-sm-2 col-form-label">Estado</label>
				<div class="col-sm-4">
					<select class="custom-select mr-sm-2 estado-filtro"
						id="estado-filtro">
						<option value="-1">Todos</option>
						<option value="0">No Atendido</option>
						<option value="1">Atendido</option>
					</select>
				</div>
			</div>
	
			<div class="col-sm-2">
				<button class="btn btn-primary mb-2 form-control btn-filtro" type="button">Filtrar</button>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-12">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col" class="text-center">Código</th>
								<th scope="col" class="text-center">Departamento</th>
								<th scope="col" class="text-center">Causa</th>
								<th scope="col" class="text-center">Fecha de Registro</th>
								<th scope="col" class="text-center">Estado</th>
							</tr>
						</thead>
						<tbody id="lista-incidente">
							<tr th:each="bean:${incidentes}">

								<td scope="row" class="text-center"
									th:text="${bean.idIncidente}"></td>
								<td scope="row" class="text-center"
									th:text="${bean.departamento.direccion}"></td>
								<td scope="row" class="text-center"
									th:text="${bean.tipoIncidente.descripcion}"></td>
								<td scope="row" class="text-center" th:text="${#dates.format(bean.fecha_registro, 'dd-MM-yyyy HH:mm')}"></td>
								<td scope="row" class="text-center"><span
									th:if="${bean.estado == 0}" class="btn btn-danger text-center"
									id="btn-atendido" data-toggle="modal"
									data-target="#modalAtender"> No Atendido </span><span
									th:if="${bean.estado == 1}" class="btn btn-success text-center"
									id="btn-atendido"> Atendido </span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>

	<!-- MODAL -->

	<div class="modal fade" id="modalAtender" tabindex="-1" role="dialog"
		aria-labelledby="modalAtender" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Atender
						Incidente</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">

					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Código</label>
						<input type="text" class="form-control" id="inp-codigo"
							name="hora" readonly>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Departamento</label>
						<input type="text" class="form-control" id="inp-depa"
							name="hora" readonly>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Causa</label> <input
							type="text" class="form-control" id="inp-causa" name="hora"
							readonly>
					</div>

					<div class="form-group row">
						<label for="staticText" class="col-sm-2 col-form-label">Estado</label>
						<div class="col-sm-4">
							<select class="custom-select mr-sm-2" id="modal-estado">
								<option value="0">No Atendido</option>
								<option value="1">Atendido</option>
							</select>
						</div>
					</div>
				</div>


				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary"
						id="btn-registrarAtencion">Registrar</button>
				</div>

			</div>
		</div>
	</div>

	<!-- MODAL END -->

	<!-- Contendio END -->

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<!-- Toast -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
		integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script th:src="@{/js/navbar-js.js}"></script>

	<script th:inline="javascript">
		$(document)
				.on(
						"click",
						".btn-filtro",
						function() {
							//alert('filtro');
							const depa = document.getElementById("depa-filtro").value;
							const tipo = document.getElementById("tipo-filtro").value;
							const estado = document.getElementById("estado-filtro").value;
							
							const listaVisitas = document
									.getElementById("lista-incidente");
							//alert(depa + " | " + tipo + " | " + estado);
							var est = "";
							var estadoClass = "";
							var setId = "";
							while (listaVisitas.hasChildNodes()) {
								listaVisitas
										.removeChild(listaVisitas.firstChild);
							}

							$.ajax({
										url : "/administrador/filtroIncidente",
										data : {
											'departamento' : depa,
											'tipo' : tipo,
											'estado' : estado,
										},
										type : "GET",
										contentType: "application/json; charset=utf-8",
										dataType : "JSON",
										success : function(data) {
											console.log(data);
											$.each(data,function(index,bean) {
																
																if (bean.estado == 0) {
																	est = "No Atendido";
																	estadoClass = "text-center btn btn-danger"
																	setId = "btn-atender";
																} else {
																	est = "Atendido";
																	estadoClass = "text-center btn btn-success"
																	setId = "";
																}
																;
																function convertTZ(date, tzString) {
																    return new Date((typeof date === "string" ? new Date(date) : date).toLocaleString("en-US", {timeZone: tzString}));   
																}
																function padTo2Digits(num) {
																	  return String(num).padStart(2, '0');
																	}
																var fecharegistro = convertTZ(bean.fecha_registro, "America/Lima");
																
																fecharegistro.setHours(fecharegistro.getHours() - 5);
																
																var fechaReg = padTo2Digits(fecharegistro.getDate())+'-'+padTo2Digits(fecharegistro.getMonth()+1)+'-'+fecharegistro.getFullYear()+' '+padTo2Digits(fecharegistro.getHours())+':'+padTo2Digits(fecharegistro.getMinutes());
											
																$("#lista-incidente").append(
																				'<tr>'
																						+ '<td scope="row" class="text-center">'
																						+ bean.idIncidente
																						+ '</td>'
																						+ '<td scope="row" class="text-center">'
																						+ bean.departamento.direccion
																						+ '</td>'
																						+ '<td scope="row" class="text-center">'
																						+ bean.tipoIncidente.descripcion
																						+ '</td>'
																						+ '<td scope="row" class="text-center">'
																						+ fechaReg
																						+ '</td>'
																						+ '<td scope="row" class="text-center" ><span class = "'+estadoClass+'" id="'+setId+'" data-toggle="modal" data-target="#modalAtender">'
																						+ est
																						+ '</span></td>'
																						+ '</tr>');
															});
										},
										error : function(e) {
											alert("Error");
										}
									});
						});
	</script>

	<script type="text/javascript">
		$(document).on("click", "#btn-atendido", function() {

			cod = $(this).parents("tr").find("td")[0].innerHTML;
			dep = $(this).parents("tr").find("td")[1].innerHTML;
			cau = $(this).parents("tr").find("td")[2].innerHTML;
			
			//alert("Registrar ID : " + cod);
			$("#inp-codigo").val(cod);
			$("#inp-depa").val(dep);
			$("#inp-causa").val(cau);
			$(document).on("click", "#btn-registrarAtencion", function() {
				estado = document.getElementById("modal-estado").value;
				//alert(estado);
				$.ajax({
					type : 'PUT',
					url : "/administrador/atenderIncidente",
					data : {
						'idIncidente' : cod,
						'estado' : estado
					},
					dataType : 'HTML',
					success : function(data) {
						//alert("Exito");
						location.reload();
					},
					error : function(e) {
						alert(e);
					}
				});
			});	
			
		});
	</script>

	<script th:inline="javascript" th:if="${mensaje!=null}">
		let msg;
		msg = /*[[${mensaje}]]*/null;

		toastr.success(msg, toastr.options = {
			"closeButton" : true,
			"debug" : false,
			"newestOnTop" : false,
			"progressBar" : true,
			"positionClass" : "toast-top-right",
			"preventDuplicates" : true,
			"onclick" : null,
			"showDuration" : "100",
			"hideDuration" : "500",
			"timeOut" : "3500",
			"extendedTimeOut" : "1000",
			"showEasing" : "swing",
			"hideEasing" : "linear",
			"showMethod" : "fadeIn",
			"hideMethod" : "fadeOut"
		});
	</script>

	<script th:inline="javascript" th:if="${advertencia!=null}">
		let msg;
		msg = /*[[${advertencia}]]*/null;

		toastr.warning(msg, toastr.options = {
			"closeButton" : true,
			"debug" : false,
			"newestOnTop" : false,
			"progressBar" : true,
			"positionClass" : "toast-top-right",
			"preventDuplicates" : true,
			"onclick" : null,
			"showDuration" : "100",
			"hideDuration" : "500",
			"timeOut" : "3500",
			"extendedTimeOut" : "1000",
			"showEasing" : "swing",
			"hideEasing" : "linear",
			"showMethod" : "fadeIn",
			"hideMethod" : "fadeOut"
		});
	</script>


	<script th:inline="javascript" th:if="${error!=null}">
		let msg;
		msg = /*[[${error}]]*/null;

		toastr.error(msg, toastr.options = {
			"closeButton" : true,
			"debug" : false,
			"newestOnTop" : false,
			"progressBar" : true,
			"positionClass" : "toast-top-right",
			"preventDuplicates" : true,
			"onclick" : null,
			"showDuration" : "100",
			"hideDuration" : "500",
			"timeOut" : "3500",
			"extendedTimeOut" : "1000",
			"showEasing" : "swing",
			"hideEasing" : "linear",
			"showMethod" : "fadeIn",
			"hideMethod" : "fadeOut"
		});
	</script>
</body>
</html>