<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
	integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	
	<!--  FontAwesome  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/navbar.css}">
<title>Propietario</title>
</head>

<body>
	
	<!-- NAVBAR -->
	
	<nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" th:href="@{/administrador/menu}">Inicio</a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{edificio}"><i class="fas fa-building"></i>Edificio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{departamento}"><i class="fas fa-house"></i>Departamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{propietario}"><i class="fa-solid fa-person"></i>Propietario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{mascota}"><i class="fas fa-paw"></i>Mascota</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{ocupante}"><i class="fa-solid fa-people-roof"></i>Ocupante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{visitante}"><i class="fa-solid fa-car-side"></i>Visitante</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" th:href="@{visita}"><i class="fa-solid fa-calendar-days"></i>Visita</a>
                </li>
                 <li class="nav-item exit">
                   	 <a class="nav-link" href="javascript:void(0);" type="submit" th:href="@{/logout}">
                   	<i class="fa-solid fa-right-from-bracket"></i>Cerrar Sesion</a>
                </li>
            </ul>
        </div>
        
         
    </nav>
	
	<!-- NAVBAR END -->

	<!-- Formulario-->

	<div class="container-fluid">
		<button type="button" class="btn btn-primary mt-2 ml-2"
			data-toggle="modal" data-target="#ocupanteModal">Registrar
			Ocupante</button>

		<!-- Modal Registro -->
		<div class="modal fade" id="ocupanteModal" tabindex="-1"
			role="dialog" aria-labelledby="ocupanteModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="departamentoModal">Registro de
							Ocupante</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<!-- Formulario -->
						<form th:action="@{/administrador/registrarOcupante}"
							method="post" th:object="${ocupante}">
							<div class="form-group">
								<label for="exampleInputText">Nombres</label> <input type="text"
									class="form-control" id="metros" aria-describedby="metrosHelp"
									placeholder="Ingrese nombres]"
									th:field="*{nombres}" required minlength="4" maxlength="60" 
								pattern="[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+">
							</div>
							<div class="form-group">
								<label for="exampleInputText">Apellidos</label> <input
									type="text" class="form-control" id="direccion"
									aria-describedby="direccionHelp"
									placeholder="Ingrese apellidos"
									th:field="*{apellidos}" required minlength="4" maxlength="60" 
								pattern="[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+">
							</div>
							<div class="form-group">
								<label for="exampleInputText">Fecha de Nacimiento</label> <input
									type="date" class="form-control" id="direccion"
									aria-describedby="dniHelp"
									placeholder="Ingrese fecha naciminto"
									th:field="*{fecha_nacimiento}" required>
							</div>
							<div class="form-group">
								<label for="exampleInputText">Dni</label> <input
									type="text" class="form-control" id="direccion"
									aria-describedby="dniHelp"
									placeholder="Ingrese el dni del propietario"
									th:field="*{dni}" required minlength="8" maxlength="8" pattern="[0-9]{8}">
							</div>
							<div class="form-group">
								<label for="exampleInputText">Telefono</label> <input
									type="text" class="form-control" id="direccion"
									aria-describedby="direccionHelp"
									placeholder="Ingrese el telefono"
									th:field="*{telefono}" required minlength="9" maxlength="9" pattern="[0-9]{9}">
							</div>
							<div class="form-group">
								<label for="inputState">Propietario</label> <select id="inputState"
									class="form-control" th:field="*{propietario}" required>
									<option value="">[Seleccione Propietario]</option>
									<option th:each="propietario: ${propietarios}"
										th:text="${propietario.nombres}" 
										th:value="${propietario.idPropietario}"></option>
								</select>
							</div>
							<button type="submit" class="btn btn-primary">Registrar</button>
						</form>
						<!-- Formulario END -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>

					</div>
				</div>
			</div>
		</div>

		<!-- Tabla  -->
		<div class="container-fluid p-2">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellidos</th>
						<th scope="col">Fecha de Nacimiento</th>
						<th scope="col">Dni</th>
						<th scope="col">Telefono</th>
						<th scope="col">Propietario</th>
						<th scope="col">Administrador</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bean:${ocupantes}">
						<td scope="row" th:text="${bean.idOcupante}"></td>
						<td scope="row" th:text="${bean.nombres}"></td>
						<td scope="row" th:text="${bean.apellidos}"></td>
						<td scope="row" th:text="${bean.fecha_nacimiento}"></td>
						<td scope="row" th:text="${bean.dni}"></td>
						<td scope="row" th:text="${bean.telefono}"></td>
						<td scope="row" th:text="${bean.propietario.nombres}"></td>
						<td scope="row" th:text="${bean.administrador.nombres + ' ' + bean.administrador.apellidos}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Formulario-End -->

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
		crossorigin="anonymous"></script>

	<!-- Toast -->
	
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

	<script th:src="@{/js/navbar-js.js}"></script>

	<script th:inline="javascript" th:if="${mensaje!=null}">
		let msg;
		msg = /*[[${mensaje}]]*/null;

		toastr.success(msg, toastr.options = {
			"closeButton" : true,
			"debug" : false,
			"newestOnTop" : false,
			"progressBar" : true,
			"positionClass" : "toast-top-right",
			"preventDuplicates" : true,
			"onclick" : null,
			"showDuration" : "100",
			"hideDuration" : "500",
			"timeOut" : "3500",
			"extendedTimeOut" : "1000",
			"showEasing" : "swing",
			"hideEasing" : "linear",
			"showMethod" : "fadeIn",
			"hideMethod" : "fadeOut"
		});
	</script>

	<script th:inline="javascript" th:if="${advertencia!=null}">
		let msg;
		msg = /*[[${advertencia}]]*/null;

		toastr.warning(msg, toastr.options = {
			"closeButton" : true,
			"debug" : false,
			"newestOnTop" : false,
			"progressBar" : true,
			"positionClass" : "toast-top-right",
			"preventDuplicates" : true,
			"onclick" : null,
			"showDuration" : "100",
			"hideDuration" : "500",
			"timeOut" : "3500",
			"extendedTimeOut" : "1000",
			"showEasing" : "swing",
			"hideEasing" : "linear",
			"showMethod" : "fadeIn",
			"hideMethod" : "fadeOut"
		});
	</script>


	<script th:inline="javascript" th:if="${error!=null}">
		let msg;
		msg = /*[[${error}]]*/null;

		toastr.error(msg, toastr.options = {
			"closeButton" : true,
			"debug" : false,
			"newestOnTop" : false,
			"progressBar" : true,
			"positionClass" : "toast-top-right",
			"preventDuplicates" : true,
			"onclick" : null,
			"showDuration" : "100",
			"hideDuration" : "500",
			"timeOut" : "3500",
			"extendedTimeOut" : "1000",
			"showEasing" : "swing",
			"hideEasing" : "linear",
			"showMethod" : "fadeIn",
			"hideMethod" : "fadeOut"
		});
	</script>
</body>

</html>